name: 'Chromatic'

on:
  push:
    branches-ignore:
      - renovate/*
      - stable-*
    paths:
      - 'package.json'
      - 'yarn.lock'
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.ts'
      - '**/*.tsx'
      - '**/*.css'
      - '**/*.scss'
      - '.github/workflows/chromatic.yml'

jobs:
  chromatic:
    name: Run Chromatic
    runs-on: blacksmith-4vcpu-ubuntu-2404
    if: github.repository == 'mastodon/mastodon'
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up Javascript environment
        uses: ./.github/actions/setup-javascript

      - name: Build Storybook
        run: yarn build-storybook

      - name: Run Chromatic
        uses: chromaui/action@v13
        with:
          # ⚠️ Make sure to configure a `CHROMATIC_PROJECT_TOKEN` repository secret
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          zip: true
          storybookBuildDir: 'storybook-static'
